# ───── Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ───── Dependencias
node_modules/

# ───── Build / cache (si llegas a usarlos)
dist/
build/
.cache/
.tmp/

# ───── Entornos (¡no subas secretos!)
.env
.env.local
.env.*.local

# ───── Firebase / Emuladores
.firebase/
.emu/
data/
firestore-debug.log
firebase-debug.log
firebase-debug.*.log
firebase-export-*/

# ───── Sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo